In [19]:
import pandas as pd

df = pd.read_csv('optimization_results.csv')
prev = None
for index, row in df.iterrows():
    if type(row['function']) is str:
        prev = row['function']
    df.iloc[index, df.columns.get_loc('function')] = prev
    if index+1 % 1000 == 0:
        display(f"{index}/{len(df)}") 
df

,method,iteration_step,error,x1,x2,function_value,seed,function
0,Base_Sornyak,0,29.466549,3.036600,-3.241628,29.466549,42,Rastrigin
1,Base_Sornyak,1,9.246793,-1.076413,-2.114681,9.246793,42,Rastrigin
2,Base_Sornyak,2,9.246793,-1.076413,-2.114681,9.246793,42,Rastrigin
3,Base_Sornyak,3,6.289907,-1.879565,0.011906,6.289907,42,Rastrigin
4,Base_Sornyak,4,6.162219,-0.050794,-2.082618,6.162219,42,Rastrigin
...,...,...,...,...,...,...,...,...
48464,CoordinateDescent,1996,0.052021,0.771937,0.596165,0.052021,456,Rosenbrock
48465,CoordinateDescent,1997,0.051565,0.772937,0.597165,0.051565,456,Rosenbrock
48466,CoordinateDescent,1998,0.051171,0.773937,0.598165,0.051171,456,Rosenbrock
48467,CoordinateDescent,1999,0.051108,0.773937,0.599165,0.051108,456,Rosenbrock
48468,CoordinateDescent,2000,0.050667,0.774937,0.600165,0.050667,456,Rosenbrock

In [20]:
df.to_csv('optimization_results.csv', index=False)